@font-face {
	font-family: 'Nexa';
	src: url('hinted-subset-NexaBold.eot');
	src: url('hinted-subset-NexaBold.eot?#iefix') format('embedded-opentype'),
		url('hinted-subset-NexaBold.woff2') format('woff2'),
		url('hinted-subset-NexaBold.woff') format('woff'),
		url('hinted-subset-NexaBold.ttf') format('truetype'),
		url('hinted-subset-NexaBold.svg#NexaBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
	font-family: 'Nexa', Helvetica, sans-serif;
	font-weight: bold
}

h1,
h2,
h3 {
	margin: 0.5vw 0;
}

h1 {
	font-size: calc(5vw + 5vh);
}

h2 {
	font-size: calc(4vw + 4vh);
	color: #2bbd7e;
}

h3 {
	font-size: 3vw;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex-wrap: wrap;
	margin: auto 0;
}

.tagline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 5%;
	height: max-content;
	padding-bottom: 0;
}

.list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: max-content;
	max-width: 90%;
	margin: 0 auto;
}

ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li {
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	list-style: none;
}

li>a {
	display: block;
	fill: rgba(142, 157, 174, .5);
	-webkit-transition: fill .15s;
	transition: fill .15s;
	width: 8vw;
	height: 8vw;
}

li>a:hover {
	fill: #64768a;
}

@media only screen and (orientation:portrait) {
	.tagline {
		justify-content: start;
		padding: 8%;
	}

	h1,
	h2,
	h3 {
		margin-bottom: calc(4vw + 4vh);
	}

	h1,
	h2 {
		font-size: 6vh;
	}

	h3 {
		font-size: 4vh;
	}

	li>a {
		height: 18vw;
		width: 18vw;
	}
}
